.dialog {
  width: 450px;
  .title {
    font-size: 16px !important;
    font-weight: 600;
    padding: 10px 15px !important;
  }
  .dialogContent {
    padding: 5px 5px !important;
    .imgCategory {
      cursor: pointer;
      width: 100px;
      height: 100px;
    }
    .imgCategory:hover, .border:hover {
      opacity: 0.9;
    }
    .imgCategory:active, .border:active {
      opacity: 0.5;
    }
    .categoryTitle {
      font-size: 14px;
      text-align: center;
      font-weight: 600;
    }
    .border {
      position: absolute;
      cursor: pointer;
      left: 0;
      top: 0;
      width: 96px;
      height: 96px;
    }
  }
}
