.facebook {
  flex: 1;
  align-self: stretch;
  display: flex;
  justify-content: center;
  background-color: #3b5998;
  color: #FFF;
}
.gmail {
  flex: 1;
  align-self: stretch;
  display: flex;
  justify-content: center;
  color: #FFF;
  background-color: #4285f4;
}
